@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

*{
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: NSR;
}
:root{
    --dark: #313131;
    --light: #FFFFFF;
}
a{
    text-decoration: none;
}
.header-nav__bg{
    background: var(--dark);
}
.header-nav{
    display: flex;
    justify-content: flex-end;
}
.nav2{
    background: var(--light);
}
.nav2 .container{
    display: flex;
    justify-content: flex-start;
    gap: 143px;
}
.search-form{
    border: 1px solid var(--dark);
}
.search-input{
    outline: none;
    border: none;
    padding: 12px 10px;
    color: black;
}
.search-input::placeholder{
    font-size: 14px;
    line-height: 19px;
    color: #BBBBBB;
}
.search-button{
    font-size: 14px;
    line-height: 19px;
    color: var(--light);
    padding: 16px 17px 15px 15px;
    background: var(--dark);
    outline: none;
    border: none;
}
.search-button i{
    padding-right: 8.73px;
    width: 20px;
}
.nav2{
    background: var(--light);
}
.header-dropdowns{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.nav-btn{
    background: var(--light);
    color: var(--dark);
    font-size: 18px;
    line-height: 70px;
    letter-spacing: 0.05em;
    outline: none;
    border: none;
}
.nav-btn:hover{
    text-decoration: underline;
}
.header-content__menu.show{
    display: flex;
}
.header-content__menu{
    background: var(--light);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    margin-left: -30px;
}
.header-content__menu::after{
    content: '';
    position: absolute;
    background: var(--dark);
    height: 3px;
    width: 260px;
    top: 0;
    right: 30px;
}
.btn-group ul{
    padding: 0;
}
.btn-group ul:first-child{
    padding: 10px 70px 17px 20px;
}
.btn-group ul:last-child{
    padding-right: 20px;
}
.dropdown-header{
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: var(--dark);
}
.dropdown-style{
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0.05em;
    color: var(--dark);
    font-family: NSL;
    text-decoration: none;
    padding-left: 10px;
    transition: 200ms;
}
.dropdown-style:hover{
    font-size: 18px;
    color: #000;
}
.menu:first-child:hover .dropdown-header{
    text-decoration-line: underline;
}
.form-select{
    background-image: url(../img/arrow-down.svg); 
    transition: .2s;
}
.form-select:hover{
    background-image: url(../img/arrow-up.svg);
}
.form-select:focus{
    box-shadow: none;
}
.navbar-nav{
    flex-direction: row;
}
.nav-item:first-child{
    padding: 15px 74px 15px 0;
}
.nav-item:nth-child(2){
    padding: 15px 30px 15px 0;
}
.nav-item:nth-child(3){
    padding: 15px 40px 15px 0;
}
.nav-item:nth-child(4){
    padding: 15px 0;
}
.fa-phone:before{
    padding-right: 5px;
}
.fa-user:before{
    padding-right: 5px;
}
.fa-cart-shopping:before{
    padding-right: 5px;
}
.header-nav__list{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-left: 150px;
}
input[type="search"]::-webkit-search-cancel-button
{ display: none; }
.slider-item img{
    margin-left: -150px;
}
.slider-item__caption{
    right: 0;
    text-align: right;
    position: absolute;
    display: flex !important;
    flex-direction: column;
    align-items: end;
    top: 113px;
}
.slider-item__caption h5{
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.05em;
    color: var(--dark);
    padding-bottom: 121px;
    max-width: 624px;
    font-family: NSSB;
    text-align: center;
}
.slider-item__caption a{
    padding: 13px 46px;
    background: var(--dark);
    font-size: 18px;
    line-height: 25px;
    color: var(--light);
    text-decoration: none;
    margin-right: 200px;
    transition: .3s all;
}
.slider-item__caption a:hover{
    transform: scale(1.1);
}
.slider-ind{
    gap: 15px;
}
.slider-ind [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ABABAB;
    outline: none;
    border: none;
}
.slider-ind .active{
    background-color: var(--dark);
    transform: scale(1.5);
}
.carousel{
    margin-bottom: 70px;
}
.main-card{
    height: 500px;
    width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #F9F9F9;
    background-image: url(../img/main-card.png);
    background-size: cover;
    background-position: center;
    gap: 10px;
    position: relative;
}
.main-card h5{
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: var(--dark);
    font-family: NSM;
    padding-left: 20px;
}
.main-card span{
    font-size: 24px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: var(--dark);
    font-family: NSL;
    padding-left: 20px;
    padding-bottom: 20px;
}
.medium-card{
    height: 235px;
    width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #F9F9F9;
    background-image: url(../img/medium-card.png);
    background-size: cover;
    background-position: center;
    gap: 10px;
    position: relative;
}
.medium-card h5{
    font-size: 24px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: var(--dark);
    font-family: NSM;
    padding-left: 20px;
}
.medium-card span{
    font-size: 24px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: var(--dark);
    font-family: NSL;
    padding-left: 20px;
    padding-bottom: 20px;
}
.main-cards{
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.smaller-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.small-cards{
    display: flex;
    gap: 30px;
}
.small-card{
    width: 300px;
    height: 235px;
    position: relative;
}
.small-card:first-child{
    background-image: url(../img/small-card1.png);
    background-color: #F9F9F9;
    background-size: cover;
    background-position: center;
}
.small-card:last-child{
    background-image: url(../img/small-card2.png);
    background-color: #F9F9F9;
    background-size: cover;
    background-position: center;
}
.small-card h5{
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: var(--dark);
    padding-top: 15px;
    padding-left: 20px;
}
.small-card span{
    font-size: 24px;
    letter-spacing: 0.05em;
    color: var(--dark);
    font-family: NSL;
    padding-left: 20px;
}
.button{
    font-size: 20px;
    letter-spacing: 0.05em;
    color: var(--light);
    padding: 13px 28px;
    background: var(--dark);
    text-decoration: none;
    transition: .3s;
}
.button:hover{
    color: var(--light);
    transform: scale(1.1);
}
.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.phone-cards{
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
}
.phone-card{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.phone-card::before{
    content: url(../img/heart.svg);
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}
.phone-card:hover::before{
    display: block;
}
.phone-card:hover{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.phone-card:nth-child(1){
    background-image: url(../img/phone-card1.png);
    background-position: center;
    background-repeat: no-repeat;
}
.phone-card:nth-child(2){
    background-image: url(../img/phone-card2.png);
    background-position: center;
    background-repeat: no-repeat;
}
.phone-card:nth-child(3){
    background-image: url(../img/phone-card3.png);
    background-repeat: no-repeat;
    background-position: center;
}
.phone-card:nth-child(4){
    background-image: url(../img/phone-card4.png);
    background-repeat: no-repeat;
    background-position: center;
}
.phone-card h3{
    font-size: 16px;
    line-height: 22px;
    color: var(--dark);
    font-family: NSM;
}
.phone-card span{
    font-size: 14px;
    line-height: 19px;
    color: var(--dark);
    font-family: NSL;
    padding-bottom: 58px;
}
.phone-card a{
    font-size: 14px;
    line-height: 19px;
    color: var(--light);
    padding: 6px 36px;
    background: var(--dark);
    position: absolute;
    bottom: 18px;
    display: none;
    transition: .3s;
}
.phone-card:hover.phone-card a{
    display: block;
}
.phone-card a:hover{
    transform: scale(1.1);
}
.laptop:nth-child(1){
    background-image: url(../img/laptop-card1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.laptop:nth-child(2){
    background-image: url(../img/laptop-card2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.laptop:nth-child(3){
    background-image: url(../img/laptop-card3.png);
    background-repeat: no-repeat;
    background-position: center;
}
.laptop:nth-child(4){
    background-image: url(../img/laptop-card4.png);
    background-repeat: no-repeat;
    background-position: center;
}

.seller:nth-child(1){
    background-image: url(../img/seller-card1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.seller:nth-child(2){
    background-image: url(../img/seller-card2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.seller:nth-child(3){
    background-image: url(../img/seller-card3.png);
    background-repeat: no-repeat;
    background-position: center;
}
.seller:nth-child(4){
    background-image: url(../img/seller-card4.png);
    background-repeat: no-repeat;
    background-position: center;
}
.ps5{
    width: 100%;
    height: 500px;
    background-image: url(../img/ps5-bg.png);
    background-position: center;
}
.ps5 h2{
    font-size: 48px;
    line-height: 65px;
    color: var(--dark);
    opacity: 0.7;
    padding: 20px 0 70px 20px;
    font-family: NSSB;
}
.ps5 img{
    padding-left: 20px;
}
.footer{
    background: var(--dark);
}
.form-bg{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
.form-bg img{
    padding-right: 143px;
}
.input-label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 50px;
    padding-top: 30px;
}
.input-label label{
    font-size: 18px;
    line-height: 25px;
    color: var(--light);
}
.email-form{
    border: 1px solid var(--light);
}
.email-input{
    outline: none;
    border: none;
    padding-left: 10px;
}
.email-button{
    font-size: 18px;
    line-height: 25px;
    color: var(--light);
    padding: 13px 59px;
    background: var(--dark);
    border: 1px solid var(--light);
    outline: none;
}
.messangers{
    display: flex;
    gap: 20px;
    margin-top: 60px;
}
.messangers i{
    font-size: 40px;
    color: var(--light);
}
.footer-links{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 45px;
}
.footer-links span{
    font-size: 18px;
    line-height: 25px;
    color: var(--light);
}
h2.container{
    font-size: 36px;
    line-height: 49px;
    color: var(--dark);
    font-family: NSSB;
}
.main-card span:first-child{
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 25px 10px;
    background: var(--dark);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}
.medium-card span:first-child{
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 25px 10px;
    background: var(--dark);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}
.small-card span:first-child{
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 25px 10px;
    background: var(--dark);
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 20px;
}
.samsung:nth-child(1){
    background-image: url(../img/samsung-card1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.samsung:nth-child(2){
    background-image: url(../img/samsung-card2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.samsung:nth-child(3){
    background-image: url(../img/samsung-card3.png);
    background-repeat: no-repeat;
    background-position: center;
}
.samsung:nth-child(4){
    background-image: url(../img/samsung-card4.png);
    background-repeat: no-repeat;
    background-position: center;
}
.xiaomi:nth-child(1){
    background-image: url(../img/xiaomi-card1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.xiaomi:nth-child(2){
    background-image: url(../img/xiaomi-card2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.xiaomi:nth-child(3){
    background-image: url(../img/xiaomi-card3.png);
    background-repeat: no-repeat;
    background-position: center;
}
.xiaomi:nth-child(4){
    background-image: url(../img/xiaomi-card4.png);
    background-repeat: no-repeat;
    background-position: center;
}
.xbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
.xbox-text{
    background-image: url(../img/xbox-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    z-index: 100;
}
.xbox h2{
    font-size: 48px;
    line-height: 65px;
    color: var(--dark);
    font-family: NSSB;
}
.xbox p{
    font-size: 24px;
    line-height: 33px;
    color: var(--dark);
    width: 454px;
    padding-bottom: 300px;
}
.xbox-bg2{
    position: absolute;
    background-color: #E3E3E3;
    padding-top: 210px;
    width: 100%;
    top: 305px;
}
.phones-footer{
    margin-top: 30px;
}
.apple-tab__content h1{
    font-size: 30px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: var(--dark);
    font-family: NSSB;
    padding-bottom: 40px;
    padding-top: 50px;
}
.apple-tab__content span{
    font-size: 24px;
    line-height: 70px;
    letter-spacing: 0.05em;
    color: var(--dark);
    font-family: NSM;
}
.apple-tab__content h2{
    font-size: 24px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: var(--dark);
    font-family: NSM;
    padding-bottom: 10px;
}
.apple-tab__content ul{
    padding-bottom: 30px;
}
.apple-tab__content ul li{
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: var(--dark);
    list-style: disc !important;
}
.apple-btn{
    display: flex;
    gap: 30px;
}
.apple-tab{
    display: flex;
    gap: 31px;
}
.tab-btn{
    margin-top: 95px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: transparent !important;
}
.nav-link.active img{
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
}
.ps_vr{
    width: 100%;
    height: 500px;
    background-image: url(../img/ps_vr__bg.png);
    background-position: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.ps_vr h2{
    font-size: 48px;
    line-height: 65px;
    color: var(--dark);
    opacity: 0.7;
    padding: 20px 178px 39px 20px;
    font-family: NSSB;
}
.ps_vr p{
    font-size: 24px;
    line-height: 33px;
    color: var(--dark);
    padding-bottom: 116px;
    max-width: 454px;
}
.apple-tab.show.active{
    display: flex;
}
@media (prefers-color-scheme: dark) {
    :root{
        --dark: #313131;
        --light: #FFFFFF;
    }
}